.srow.setting_header {
	text-shadow: 0 1px 3px #222;
	background: #202021 asset_url("setting_header.png") center repeat;
	padding-left: 5% !important;
	padding-top: 3% !important;
	margin-top: -15px !important;
	padding-bottom: 20px !important;
	color: white;
	.sub.header { color:white; }
}
.srow.setting_content {
	.column:first-child {
		padding-left: 5% !important;
	}
}