// Place all the styles related to the Authentications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav.navbar {
	width: 100% !important;
	border-radius: 0px !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	top: 0px;
	left: 0px;
}

.navbar.fixed {
	position: fixed;
}