// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the bottom of the
// compiled file so the styles you add here take precedence over styles defined in any styles
// defined in the other CSS/SCSS files in this directory. It is generally better to create a new
// file per style scope.
//
// require_tree .
//= require_self
//= require simditor

@import "semantic-ui";
@import "mixin";
@import "var";
@import "navbar";
@import 'pagebar';
//@import "login-form";
@import "setting";
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 60px;
    margin-bottom: 60px;
}

.container:before,.container:after {
    content: " ";
    display: table
}

.container:after {
    clear: both
}

@media (min-width: 768px) {
    .container {
        width:720px
    }
}

@media (min-width: 992px) {
    .container {
        width:940px
    }
}

@media (min-width: 1200px) {
    .container {
        width:1140px
    }
}
html {
	overflow-y: auto;
	overflow-x: hidden;
}
.hidden {display: none !important;}
.page-title {
	text-align: center;
	font-size: 15px;
	/* display: inline-block; */
	width: 100%;
	z-index: 199;
	position: fixed;
	top: 14px;
}
.bdfzer.comment {
	.avatar {
		position: absolute;
		left: -30px;
		top: 20px;
		img {
			border: 5px white solid;
			box-shadow: 0 0 5px #aaa;
			border-radius: 50px;
		}
	}
	.main.body {
		box-shadow: 0 0px 1px #CCC;
		padding-top: 35px;
		padding-left: 60px;
		padding-right: 20px;
		padding-bottom: 30px;
		.header {
			color: #aaa;
			font-size: 15px;
			font-weight: lighter;
			.name {
				display: inline-block;
			}
			.name:hover {
				@include t(color, 0.4s);
				color: #777;
			}
			.timeago {
				display: inline-block;
				float: right;
				font-size: 12px;
			}
		}
		.body {
			margin-top: 10px;
			font-size: 15px;
			color: #777;
			margin-right: 40px;
			line-height: 20px;
		}
		.footer {
			color: #aaa;
			font-size: 15px;
			margin-top: 10px;
			.status {
				float: left;
				display: inline-block;
			}
			.action {
				float: right;
				display: inline-block;
				opacity: 0;
				div {
					display: inline-block;
				}
			}
			div:hover {
				@include t(color, 0.318s);
				color: #777;
			}
		}
	}
	.main.body:hover {
		@include t(box-shadow, 0.7s);
		box-shadow: 0 0px 1px #68e;
		.footer {
			.action {
				@include t(opacity, 0.318s);
				opacity: 1;
			}
		}
	}	
}

.ui.modal {
	.ui.form {
		margin-bottom: -2em;
		.textarea.field {
			margin-left: -2em;
			margin-right: -2em;
			margin-top: -2em;
			textarea {
				border-radius: 0;
				border: 0;
				border-bottom: 3px #68e solid;
				border-top: 1px #eee solid;
				padding-left: 2em;
				padding-top: 2em;
			}
			textarea:focus {
				border-left: none;
				@include t(box-shadow, 0.4s);
				box-shadow: 0 1px 2px rgba(102,136,238,0.5);
			}	
		}
	}
}