// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the bottom of the
// compiled file so the styles you add here take precedence over styles defined in any styles
// defined in the other CSS/SCSS files in this directory. It is generally better to create a new
// file per style scope.
//
// require_tree .
//= require_self
//= require simditor

@import "semantic-ui";
@import "mixin";
@import "var";
@import "navbar";
@import 'pagebar';
//@import "login-form";
@import "setting";
.angular_content {
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 60px;
	padding-top: 60px;
}
html {
	overflow-y: auto;
	overflow-x: hidden;
}
.hidden {display: none !important;}

.bdfzer.comment {
	.avatar {
		position: absolute;
		left: -35px;
		top: 15px;
	}
	.main.body {
		box-shadow: 0 0px 1px #CCC;
		padding-top: 35px;
		padding-left: 60px;
		padding-right: 20px;
		padding-bottom: 30px;
		.header {
			color: #aaa;
			font-size: 15px;
			font-weight: lighter;
			.name {
				display: inline-block;
			}
			.timeago {
				display: inline-block;
				float: right;
			}
		}
		.body {
			margin-top: 10px;
			color: #777;
			margin-right: 40px;
			line-height: 20px;
		}
		.footer {
			color: #aaa;
			font-size: 15px;
			margin-top: 10px;
			.status {
				float: left;
				display: inline-block;
			}
			.action {
				float: right;
				display: inline-block;
				div {
					display: inline-block;
				}
			}
		}
	}	
}